.main-content
{
	display: flex;
}

.main-info
{
	min-width: 427px;
}

.main-subtitle
{
	font-family: 'Kudryashev Display', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	margin: 0;
	margin-top: 107px;
}

.main-title
{
	font-family: 'Kudryashev Display', sans-serif;
	letter-spacing: 5px;
	font-size: 120px;
	margin: 0;
}

.main-text
{
	font-family: 'Kudryashev Display', sans-serif;
	font-size: 22px;
	margin: 0;
	margin-top: 29px;
}

.main-button
{
	font-family: 'Monesta', sans-serif;
	border-style: none;
	background-color: @green;
	height: 49px;
	width: 223px;
	font-size: 22px;
	margin-top: 44px;
	border-radius: 30.5px 0 30.5px 0;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	&:after {
	  content: "";
	  height: 200%;
	  left: -230%;
	  opacity: 0;
	  position: absolute;
	  top: -20%;
	  transform: rotate(-30deg);
	  width: 200%;
	  background: rgba(255, 255, 255, 0.13);
	  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
	}
	&:hover:after
	{
	    left: 100%;
	    opacity: 1;
	    top: 100%;
	    transition-duration: 0.7s, 1s, 0.15s;
	    transition-property: left, top, opacity;
	    transition-timing-function: ease;
	}
	&:active:after
	{
	    opacity: 0;
	}
}

.main-slider
{
	position: relative;
}

.slider-text
{
	font-family: 'Kudryashev Display';
	position: absolute;
	top: 30%;
	left: 33px;
	transform: translateY(-50%);
	font-size: 120px;
	color: #fff;
	letter-spacing: 8px;
}